.home_sidebar-body__9zbei {
  // custom style list chat
  max-height: 45%;
}

.custom-style-web-stream {
  // add style : stream
  margin-top: 10px;
  width: 100%;
  height: 30%;
  overflow: hidden;
}
.cam-stream {
  position: relative;
  width: 100%;
  height: 100%;
}
.cam-stream video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4%;
}
@media only screen and (max-width: 600px) {
  .custom-style-web-stream {
    position: fixed; /* Đặt vị trí cố định */
    top: 0; /* Đặt vị trí trên cùng */
    left: 0; /* Đặt vị trí trái */
    width: 100%; /* Chiều rộng 100% */
    height: 14%;
    z-index: 9999; /* Đặt z-index cao hơn để đảm bảo nằm trên cùng */
    margin: 0;
    padding: 0;
  }
}
