.custom-style-web-stream {
  // add style : stream
  margin-top: 10px;
  width: 100%;
  height: 40%;
  overflow: hidden;
}
.cam-stream {
  position: relative;
  //width: 100%;
  //height: 100%;
}
.cam-stream video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4%;
}
@media only screen and (max-width: 600px) {
  .sidebar-header {
    position: relative;
  }
  .custom-style-web-stream {
    display: block;
    position: absolute;
    top: 15%;
    left: 0;
    margin: 0;
    padding: 0;
    height: 30%;
    z-index: 9999;
  }

  .cam-stream {
    position: relative;
  }
  .cam-stream video {
    width: 100%;
    height: 30%;
    border-radius: 10px;
    padding: 0 6px;
  }
}
